*{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: #1B2631;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    margin: 0;
    overflow: hidden;
    display:grid;
    grid-template-rows: 10vh 1fr;
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "main";
    justify-content: center;
    align-items: center;
    justify-items: center;
}

#headerContainer{
  grid-area: header;
  background-color: #2C3E50;
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

h1{
  margin: 0px;
  color: white;
  font-weight: bold;
  letter-spacing: 2px;
}

canvas {
    border: 2px solid #34495E;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

#canvas {
  background-color: #2C3E50;
  grid-area: main;
}

.lil-gui.autoPlace{
  top: 15vh;
  right: 5vw;
}

#backButton {
    margin: 10px;
    background-color: #3498DB;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    position: absolute;
    bottom: 20px;
    left: 20px;
}

#backButton:hover {
    background-color: #2980B9;
}

#uiContainer {
  position: absolute;
  top: 15vh;
  right: 5vw;
  z-index: 3;
  font-family: monospace;
  pointer-events: none;
  padding: 1em;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 1em;
  border: 1px solid turquoise;

  text-shadow:
   -1px -1px 0 #FFF,
    1px -1px 0 #FFF,
    -1px 1px 0 #FFF,
     1px 1px 0 #FFF;
}
#ui {
  opacity: 0.8;
}
#ui>div {
  pointer-events: none;
}
#ui input, #ui select, #ui option, #ui canvas {
  pointer-events: auto;
}
