.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 15vh 37.5vh 37.5vh;
    gap: 1vw;
    width: 90vw;
    height: 90vh;
    margin: 2vh auto;
    padding: 2vh 2vw;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.element {
    padding: 1rem;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: calc(0.8em + 0.5vw);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 0;
}

.element1 {
    grid-column: 1 / 4;
    background-color: #fda061;
}

.element2 {
    grid-row: 2 / 4;
    background-color: #02a787;
}

.element3 {
    grid-column: 2 / 4;
    background-color: #34daba;
}

.element4 {
    background-color: #FF6B6B;
    color: white;
}

.element5 {
    background-color: #fda061;
} 